.about-hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), 
                      url('https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?auto=format&fit=crop&q=80&w=1920');

    height: 700px;
    width: 100%;
}
.hero-text h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 600;
    color: rgb(54, 105, 54);
    font-family: cursive;
    text-align: center;
}